body {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    height: auto;
    font-family:  sans-serif;
}

section {
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 2%;
    padding: 3% 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;

    background: rgba(255, 245, 245, 0.53);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px);
    border: 1px solid rgba(255, 255, 255, 0.877);
}

h1{
    font-size: 2vw;
    text-align: center;
    color:#0B661A;
}

.nome {
    grid-area: nome;
    padding-left: 10px;
}

.texto {
    grid-area: texto;
    padding-left: 10px;
}

.img {
    grid-area: img;
    margin: auto;
}

.container {
    display: grid;
    grid-template-areas:
        'nome nome nome nome nome'
        'texto texto texto texto img';
    padding: 10px;
    width: 70%;
    margin: 2.5% auto;
    border-radius: 16px;
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px);
    border: 1px solid rgb(201, 201, 201);
}

section label {
    color: #0B661A;
    font-size: 22px;
    text-align: justify;
    width: 90%;
}

section p{
    text-align: left;
    font-size: 16px;
}

section img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 7px;
    margin-right: 7px;
}

@media screen and (max-width:910px) {
    section {
        width: 65%;
    }

    section .container {
        width: 85%;
    }
}

@media screen and (max-width:800px) {
    section h1 {
        text-align: center;
        margin: auto;
        margin-bottom: 30px;
    }
    section {
        width: 70%;
    }

    section .container {
        width: 85%;
        margin: 5% auto;
    }
}

@media screen and (max-width:640px) {
    section {
        width: 74%;
    }

    section h1 {
        font-size: 26px;
    }

    section .container {
        width: 85%;
    }

    section label {
        font-size: 18px;
    }

    section p {
        font-size: 14px;
    }

    section img {
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width:450px) {
    section h1 {
        font-size: 23px;
    }
    .container {
        display: grid;
        grid-template-areas:
            'nome nome nome nome nome'
            'img img img img img'
            'texto texto texto texto texto';
        padding: 10px 2px;
    }

    section label {
        margin: 5px auto;
        text-align: center;
        font-size: 16px;
    }

    section img {
        margin: 6px auto;
    }

    section p {
        margin: auto;
        text-align: justify;
        font-size: 13px;
        width: 80%;
        padding: 0;
    }

    .nome {
        padding-left: 0;
    }
    
    .texto {
        padding-left: 0;
    }
    
    .contato{
        font-size: 10px !important;
    }
}
/*@media screen and (max-width:450px) {
    section {
        width: 77%;
    }

    

    section .container {
        width: 90%;
        padding: 0;
    }

    section label {
        
    }

    section p {
        
    }

    section img {
        width: 55px;
        height: 55px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width:330px) {
    section {
        width: 80%;
    }

    section h1 {
        font-size: 22px;
    }

    section .container {
        width: 95%;
        padding: 0;
    }

    section p {
        font-size: 11.5px;
    }

    section img {
        width: 48px;
        height: 48px;
    }
}*/